In [1]:
# %load command.py

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

%config InlineBackend.figure_format='svg'
plt.rcParams['figure.dpi']=120

pd.options.display.float_format='{:,.2f}'.format
pd.set_option('display.max_colwidth', None)

# def load_data(data, encoding=None):
#     return pd.read_csv(data, encoding=encoding)
    
# data=str(input('Enter the full_path of data source '))
# encoding=str(input('Enter the encoding '))

In [2]:
df=pd.DataFrame({'name':'가 나 다 라'.split(' '), 
             'number':[1,2,3,4]})

df.to_csv('dataForReadCsv/data_kor.csv', encoding='euc_kr', index=False)

In [3]:
df=pd.read_csv('dataForReadCsv/data_kor.csv', encoding='euc_kr')
df

  name  number
0    가       1
1    나       2
2    다       3
3    라       4

In [4]:
pd.read_csv('dataForReadCsv/data_2_no_headers.csv', header=None)

   0   1   2  3
0  a  10   5  1
1  b  20  12  2
2  c  30  20  3
3  d  40  30  4

In [5]:
pd.read_csv('dataForReadCsv/data_2.csv', header=1)

  product  price  cost  profit
0       a     10     5       1
1       b     20    12       2
2       c     30    20       3
3       d     40    30       4

In [6]:
pd.read_csv('dataForReadCsv/data_2.csv', usecols=['product', 'cost'], header=1)

  product  cost
0       a     5
1       b    12
2       c    20
3       d    30

In [7]:
pd.read_csv('dataForReadCsv/data_2.csv', usecols=[0,1], header=1)

  product  price
0       a     10
1       b     20
2       c     30
3       d     40

In [8]:
df=pd.read_csv('dataForReadCsv/data_3.csv')
df
print()
df.info()

       date product  price  cost  profit
0  2019/1/1       A     10     5       1
1  2019/1/2       B     20    12       2
2  2019/1/3       C     30    20       3
3  2019/1/4       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     4 non-null      object
 1   product  4 non-null      object
 2   price    4 non-null      int64
 3   cost     4 non-null      int64
 4   profit   4 non-null      int64
dtypes: int64(3), object(2)
memory usage: 288.0+ bytes

In [9]:
df=pd.read_csv('dataForReadCsv/data_3.csv', parse_dates=['date'])
df
print()
df.info()

        date product  price  cost  profit
0 2019-01-01       A     10     5       1
1 2019-01-02       B     20    12       2
2 2019-01-03       C     30    20       3
3 2019-01-04       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     4 non-null      datetime64[ns]
 1   product  4 non-null      object
 2   price    4 non-null      int64
 3   cost     4 non-null      int64
 4   profit   4 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 288.0+ bytes

In [10]:
df=pd.read_csv('dataForReadCsv/data_4.csv')
df
print()
df.info()

   year  month  day product  price  cost  profit
0  2019      1    1       A     10     5       1
1  2019      1    2       B     20    12       2
2  2019      1    3       C     30    20       3
3  2019      1    4       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     4 non-null      int64
 1   month    4 non-null      int64
 2   day      4 non-null      int64
 3   product  4 non-null      object
 4   price    4 non-null      int64
 5   cost     4 non-null      int64
 6   profit   4 non-null      int64
dtypes: int64(6), object(1)
memory usage: 352.0+ bytes

In [11]:
df=pd.read_csv('dataForReadCsv/data_4.csv', parse_dates=['year', 'month', 'day'])
df
print()
df.info()

        year month day product  price  cost  profit
0 2019-01-01     1   1       A     10     5       1
1 2019-01-01     1   2       B     20    12       2
2 2019-01-01     1   3       C     30    20       3
3 2019-01-01     1   4       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     4 non-null      datetime64[ns]
 1   month    4 non-null      object
 2   day      4 non-null      object
 3   product  4 non-null      object
 4   price    4 non-null      int64
 5   cost     4 non-null      int64
 6   profit   4 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 352.0+ bytes

In [12]:
df=pd.read_csv('dataForReadCsv/data_4.csv', parse_dates=[['year', 'month', 'day']])
df
print()
df.info()

  year_month_day product  price  cost  profit
0     2019-01-01       A     10     5       1
1     2019-01-02       B     20    12       2
2     2019-01-03       C     30    20       3
3     2019-01-04       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year_month_day  4 non-null      datetime64[ns]
 1   product         4 non-null      object
 2   price           4 non-null      int64
 3   cost            4 non-null      int64
 4   profit          4 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 288.0+ bytes

In [13]:
df=pd.read_csv('dataForReadCsv/data_4.csv', parse_dates={'date':['year', 'month', 'day']})
df
print()
df.info()

        date product  price  cost  profit
0 2019-01-01       A     10     5       1
1 2019-01-02       B     20    12       2
2 2019-01-03       C     30    20       3
3 2019-01-04       D     40    30       4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     4 non-null      datetime64[ns]
 1   product  4 non-null      object
 2   price    4 non-null      int64
 3   cost     4 non-null      int64
 4   profit   4 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 288.0+ bytes

In [14]:
df=pd.read_csv('dataForReadCsv/data_5.csv')
df
print()
df.info()

   dob_year  dob_month  dob_day  join_year  join_month  join_day name sex
0      2000          1        1       2019           1         1    A   F
1      2002          1        2       2017           2         3    B   F
2      1985          1        3       2015           4        10    C   M
3      1988          1        4       2016           1         2    D   M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dob_year    4 non-null      int64
 1   dob_month   4 non-null      int64
 2   dob_day     4 non-null      int64
 3   join_year   4 non-null      int64
 4   join_month  4 non-null      int64
 5   join_day    4 non-null      int64
 6   name        4 non-null      object
 7   sex         4 non-null      object
dtypes: int64(6), object(2)
memory usage: 384.0+ bytes

In [15]:
df=pd.read_csv('dataForReadCsv/data_5.csv', 
               parse_dates=
               {'DoB':['dob_year', 'dob_month', 'dob_day'],
                'JoinDate':['join_year', 'join_month', 'join_day']})
df
print()
df.info()

         DoB   JoinDate name sex
0 2000-01-01 2019-01-01    A   F
1 2002-01-02 2017-02-03    B   F
2 1985-01-03 2015-04-10    C   M
3 1988-01-04 2016-01-02    D   M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DoB       4 non-null      datetime64[ns]
 1   JoinDate  4 non-null      datetime64[ns]
 2   name      4 non-null      object
 3   sex       4 non-null      object
dtypes: datetime64[ns](2), object(2)
memory usage: 256.0+ bytes

In [16]:
# customize date parser

from datetime import datetime

df=pd.read_csv('dataForReadCsv/data_6.csv')
df
print()
df.info()

                  date name
0   2016 06 10 20:30:0    A
1  2016 07 11 19:45:30    B
2     2013 10 12 4:5:1    C

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [17]:
custom_date_parser=lambda x:datetime.strptime(x, '%Y %m %d %H:%M:%S')
df=pd.read_csv('dataForReadCsv/data_6.csv',
              parse_dates=['date'],
              date_parser=custom_date_parser)
df
print()
df.info()

                 date name
0 2016-06-10 20:30:00    A
1 2016-07-11 19:45:30    B
2 2013-10-12 04:05:01    C

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   name    3 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 176.0+ bytes

In [18]:
# set data type

df=pd.read_csv('dataForReadCsv/data_7.csv')
df
print()
df.info()

     Name  Grade
0      A1    100
1      A2     56
2      A3     78
3      A4     58
4      A5     56
..    ...    ...
107  A108     57
108  A109     79
109  A110     62
110  A111     67
111  A112     66

[112 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    112 non-null    object
 1   Grade   112 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [19]:
df=pd.read_csv('dataForReadCsv/data_7.csv', dtype={'Name':str,
                                                  'Grade':int})
df
print()
df.info()

     Name  Grade
0      A1    100
1      A2     56
2      A3     78
3      A4     58
4      A5     56
..    ...    ...
107  A108     57
108  A109     79
109  A110     62
110  A111     67
111  A112     66

[112 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    112 non-null    object
 1   Grade   112 non-null    int32
dtypes: int32(1), object(1)
memory usage: 1.4+ KB

In [20]:
# Find and locate invalid values

df=pd.read_csv('dataForReadCsv/data_8.csv',
              dtype={'Name':str,
                    'Grade':int})
df
print()
df.info()

ValueError: invalid literal for int() with base 10: 'a'

In [21]:
# Find and locate invalid values

df=pd.read_csv('dataForReadCsv/data_8.csv')

df
print()
df.info()

     Name Grade
0      A1   100
1      A2    56
2      A3    78
3      A4    58
4      A5    56
..    ...   ...
107  A108    57
108  A109    79
109  A110    62
110  A111    67
111  A112    66

[112 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    112 non-null    object
 1   Grade   112 non-null    object
dtypes: object(2)
memory usage: 1.9+ KB

In [22]:
# Find and locate invalid values

df=pd.read_csv('dataForReadCsv/data_8.csv')
is_error=pd.to_numeric(df['Grade'], errors='coerce').isna()
df[is_error]
df.loc[15, 'Grade']

   Name Grade
7    A8     a
15  A16   57b
26  A27   91c

'57b'

In [23]:
def remove_str(s):
    return s.replace(r'(\d{2})?\w', r'\1')

df['Grade']=df['Grade'].replace(r'(\d{2})?\w', r'\1', regex=True)
df['Grade'].dtype
df.loc[15, 'Grade']
df.loc[7, 'Grade']
df.loc[26, 'Grade']

dtype('O')

'57'

''

'91'

In [24]:
df.loc[7, 'Grade']=0
df.loc[7, 'Grade']

0

In [25]:
df['Grade']=pd.to_numeric(df['Grade'])
df.Grade.dtype

dtype('float64')

In [26]:
df.loc[7, 'Grade']=df.Grade.median()
df.loc[7, 'Grade']

10.0

In [27]:
# append data to csv file
pd.read_csv('dataForReadCsv/existing_data.csv')

       Name                        Date
0  Old Name  2020-08-21 15:53:04.895843
1  New name  2022-04-30 20:53:38.658909

In [28]:
new_record=pd.DataFrame([['New name', pd.to_datetime('today')]],
            columns=['Name', 'Date'])

new_record

       Name                       Date
0  New name 2022-04-30 21:14:49.017013

In [29]:
new_record.to_csv('dataForReadCsv/existing_data.csv', 
                 mode='a',
                 header=None,
                 index=False)

In [30]:
pd.read_csv('dataForReadCsv/existing_data.csv')

       Name                        Date
0  Old Name  2020-08-21 15:53:04.895843
1  New name  2022-04-30 20:53:38.658909
2  New name  2022-04-30 21:14:49.017013

In [31]:
# load a husg csv file with chunksize

nums=100_000

for name in 'a b c d'.split():
    df=pd.DataFrame({'col_1':[1]*nums,
                 'col_2]':np.random.randint(100, 200, size=nums)})
    
    df['name']=name
    
    df.to_csv('dataForReadCsv/big_file.csv', mode='a', index=False,
             header=name)

In [32]:
a=pd.read_csv('dataForReadCsv/big_file.csv')
a.shape

C:\Users\Chul\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1600009, 3)