# Excel Style Conditional Formatting

<a href='https://medium.com/python-in-plain-english/excel-style-conditional-formatting-in-pandas-1238277ed70a'>Source</a>

In [1]:
# %load command1.py
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, date, time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

%config InlineBackend.figure_format='svg'
plt.rcParams['figure.dpi']=120

pd.options.display.float_format='{:,.2f}'.format
pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.DataFrame([[-1, 2.3, 2],
                   [-1.25, 0, -1.5],
                   [1.8, -2.6, 1.3],
                   [0.5, 2.1, -7]], columns=['A','B', 'C'])

df

      A     B     C
0 -1.00  2.30  2.00
1 -1.25  0.00 -1.50
2  1.80 -2.60  1.30
3  0.50  2.10 -7.00

**The Pandas Styler Object**

- Any Pandas DataFrame contains a Styler object which can be accessed by calling .style on it.

In [3]:
df.style

**Altering Appearances using .apply() and .applymap()**

In [4]:
def green_red(value):
    if value < 0:
        return 'color: red; font-weight: bold'
    elif value == 0:
        return None
    else:
        return 'color: green; font-weight: bold'
    
df.style.applymap(green_red)

In [6]:
def min_max(col):
    
   
    props = ['font-weight: bold;'] * len(col)
    
    for idx, value in enumerate(col):
       
        if value == max(col):
            props[idx] += 'background-color: lightgreen;'
        
        if value == min(col):
            props[idx] += 'background-color: lightcoral'
        
    return props

df.style.apply(min_max, axis=0) # compare values row-wise (default)

df.style.apply(min_max, axis=1) # compare values column-wise

**Altering Appearances Using .pipe()**

In [8]:
def color_scales(styler):
    
    styler.set_caption("Table")
    styler.background_gradient(axis=0, cmap="RdYlGn")
    styler.format(precision=2)
    
    return styler

df.style.pipe(color_scales)